<%content_for :scripts do %>
  <%= javascript_pack_tag "chart" %>
<% end %>

<div id="showChart" data-chart-id="<%=@widget_id%>" data-pathname="<%= @pathname %>"></div>
<div id="chart_6"><script src="https://diagram-widget-assistent.herokuapp.com/diagram/widget/6.js"></script></div>