<!DOCTYPE html>
<html>
<head>
  <title>Diagram widget generator</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "diagram_widget_generator/application", media: "all" %>
</head>
<body>

<%= yield %>

</body>
</html>
